doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h2 Tugas Projek
        h2 Teknik Kolaborasi Pengembangan Perangkat Lunak
        h2 Nama Kelompok
        li Patrick                     161110404
        li Tommy                       161111256
        li Ganda Rimses Ranto Samosir  161112871
        li Kelfin                      161110331
                
      section
        h2 Menurut Anda manakah yang bukan keluarga?
        img(src="images/tes psikologi.jpg")
        <a href="#9" style="text-decoration: none"><button class ="tombol">1</button></a>
        <a href="#10" style="text-decoration: none"><button class ="tombol">2</button></a>
        <a href="#11" style="text-decoration: none"><button class ="tombol">3</button></a>

      section
        h2 Gambar apa yang pertama kamu lihat?
        img(src="images/gajah.jpeg")
        <a href="#12" style="text-decoration: none"><button class ="tombol">Gajah</button></a>
        <a href="#13" style="text-decoration: none"><button class ="tombol">Tikus</button></a>

      section
        h2 Gambar apa yang pertama kamu lihat?
        img(src="images/ikan.jpeg")
        <a href="#14" style="text-decoration: none"><button class ="tombol">Ikan</button></a>
        <a href="#15" style="text-decoration: none"><button class ="tombol">Wanita</button></a>
        <a href="#16" style="text-decoration: none"><button class ="tombol">Langit</button></a>

      section
        h2 Gambar apa yang pertama kamu lihat?
        img(src="images/lubangkunci.jpeg")
        <a href="#17" style="text-decoration: none"><button class ="tombol">Orang</button></a>
        <a href="#18" style="text-decoration: none"><button class ="tombol">Lubang Kunci</button></a>

      

    script(src='build/build.js')
